.container1{
    margin: 0 auto;
    max-height: 746px;
    height: 100%;
    max-width: 1146px;
    width: 100%;
}

.nav1{
    max-height: 139px;
    height: 100%;
    max-width: 371px;
    width: 100%;
}


.st{
    margin-top: 57px;
    margin-bottom: 7px;
    color: #5863E3;
    font-family: 'Roboto', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.st:hover{
   color: rgb(97, 166, 240);
   transition: all none linear 250ms;

}

.ss{
    color: #000;
    font-family: 'Roboto', sans-serif;
font-size: 49px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.ss:hover{

    color: rgb(102, 98, 98);
    transition: all none linear 250ms;
}


.container2{
max-width: 1146px;
width: 100%;
max-height: 298px;
height: 100%;
display: flex;
justify-content: space-between;
margin-top: 57px;
}

.dd1{
    max-width: 756px;
    width: 100%;
max-height: 301px;
height: 100%; 
}

.dd2{
    margin-left: 20px;
    max-height: 301px;
    height: 100%;
   max-width: 390px;
   width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#Description:hover{

    background-color: lightgrey;
    transition: all none linear 250ms;
}



#Description{
width: 756px;
height: 298px;
border: 2px solid rgba(212, 211, 211, 0.30);
background: #F8F8F8;
display: flex;
flex-wrap: wrap;
}



#subject{
    width: 370px;
    height: 59px;
    border: 2px solid rgba(212, 211, 211, 0.30);
    background: #F8F8F8;
    margin-bottom: -13px;
    
}

#subject:hover{
    background-color: lightgrey;
    transition: all 250s linear none ;
}


#name{
    width: 370px;
    height: 59px;
    flex-shrink: 0;
    border: 2px solid rgba(212, 211, 211, 0.30);
    background: #F8F8F8;
   
}

#name:hover{
    background-color: lightgrey;
    transition: all none linear 250s;
}

#email{
    width: 370px;
   height: 59px;
    flex-shrink: 0;
    border: 2px solid rgba(212, 211, 211, 0.30);
    background: #F8F8F8;
}

#email:hover{
    background-color: lightgrey;
    transition: all none linear 250s;
}

#send{
    margin-top: 25px;
    width: 370px;
height: 59px;
flex-shrink: 0;
background: #5968F4;
}

#send:hover{
    background-color: lightblue;
    transition: all none linear 250ms ;
}


.container3{
    max-width: 1146px;
    width: 100%;
    max-height: 226px;
    height: 100%;
    display:flex;
    justify-content: space-around;
    margin-top: 51px;

}

.ema{
    width: 41px;
height: 29px;
flex-shrink: 0;}


/* position: absolute; */


/* .background image{
    background-image:url(images/0.svg);
    background-color:#5968F4; 
    background-repeat: no-repeat;
    width: 68px;
    height: 68px;
    position: relative;

} */

.mel{
    color: #4E4D54;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-top: 16px;
}
.mel:hover{
    color: lightslategray;
    transition: all none linear 25ms;
}

.en{
    color: #99999A;
font-family: Helvetica;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 8px;
}

.en:hover{
    color: rgb(194, 202, 209);
    transition: all none linear 25ms;
} 


.nak{
    max-width: 226px;
    width: 100%;
    max-height: 226px;
    height: 100%;
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
margin-top: 8px;
}

.sss{
    color: #5863E3;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.sss:hover{
    color: #9098e8;
    transition: all none linear 250ms;
}

.sms:hover{
    color: gray;
    transition: all none linear 250ms;
}
.sms{
    color: #000;
    font-family: Helvetica;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-top: 7px;
}



.container4{
max-height: 139px;
height: 100%;
max-width: 548px;
width: 100%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 74px;
}

.sl{
  max-width: 373px;
  width: 100%;
max-height: 373px;
height: 100%;
margin-top: 53px;
margin-bottom: 39px;
}


.container5{
    margin: 0 auto;
max-width: 1318px ;
width: 100%;
max-height: 373px ;
height: 100%;
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
flex-direction: row;
}


.conn6{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
 max-height: 372px;
 height: 100%;
;
}